:root {
  --softGreen: #2ad167;
  --lighterGreen: #D8F2E3;
  --darkGray: #2a3342;
  --gray: #93a1b6;
  --softGray: #f7f8f9;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Space Grotesk", sans-serif;
}

h1 {
  color: var(--darkGray);
  font-size: 38px;
}

h2 {
  color: var(--darkGray);
  font-size: 28px;
}

p,
li {
  color: var(--gray);
  font-size: 14px;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 15px;
  color: var(--darkGray);
}

.header-container .btn-container {
  display: flex;
  gap: 15px;
}

.header-container .btn-container .btn {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
}

.header-container .btn-container .btn-green {
  background-color: var(--softGreen);
  color: var(--white);
}

.header-container .btn-container .btn-white {
  background-color: var(--white);
  border: 1px solid var(--gray);
}

.header-container .item {
  background-color: var(--softGreen);
  color: var(--white);
  padding: 6px;
  border-radius: 15px;
  max-width: fit-content;
  font-size: 0.875rem;
}

.header-container .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  position: relative;
  max-width: 100%;
}

.header-container .images .principal {
  width: 340px;
  min-width: 300px;
}

.header-container .images .circle {
  width: 100px;
  position: absolute;
  top: 0;
  left: 10px;
}

.header-container .images .points {
  width: 100px;
  position: absolute;
  right: 10px;
  bottom: 0;
}

section#features {
  text-align: center;
  padding: 0 15px;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.features-container img {
  background-color: var(--softGreen);
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

section#prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}

section#prices h1 {
  margin-bottom: 15px;
}

section#prices p {
  margin-bottom: 15px;
}

.prices-card {
  margin: 20px 0;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: var(--softGray);
}

.prices-card h2 {
  font-size: 16px;
  color: var(--softGreen);
  margin-bottom: 10px;
}

.prices-card h3 {
  font-size: 32px;
  color: var(--darkGray);
  margin-bottom: 10px;
}

.prices-card .item {
  background-color: var(--lighterGreen);
  color: var(--softGreen);
  padding: 6px;
  border-radius: 15px;
  max-width: fit-content;
  font-size: 0.875rem;
}
 section#prices ul{
  list-style-image: url(assets/Icons/list-icon.svg);
 }

.prices-card .btn-container {
  width: 100%;
}

.prices-card .btn-container .btn {
  margin-top: 15px;
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.prices-card .btn-container .btn-green {
  background-color: var(--softGreen);
  color: var(--white);
}

.footer {
  background-color: var(--darkGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 15px;
}

.footer ul li {
  list-style-type: none;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer hr {
  height: 1px;
  width: 90%;
  background-color: var(--gray);
}

.footer .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
}
