:root {
  --softGreen: #2ad167;
  --darkGray: #2a3342;
  --gray: #93a1b6;
  --softGray: #f7f8f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Space Grotesk', sans-serif;
}

h1 {
  color: var(--darkGray);
  font-size: 38px;
}

h2 {
  color: var(--darkGray);
  font-size: 28px;
}

p {
  color: var(--gray);
  font-size: 14px;
}


section#features {
  text-align: center;
  padding: 0 15px;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.features-container img {
  background-color: var(--softGreen);
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

section#prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}

section#prices h1{
  margin-bottom: 15px;
}
section#prices p{
  margin-bottom: 15px;
}

.prices-card{
  margin: 20px 0;
}